<app-header></app-header>
<h1>hello lokesh jirati ,{{title}}</h1>
<H1>{{data}}</H1>
<h2>{{getValue()}}</h2>
<h2>{{data=="lokesh"}}</h2>
<h2>{{data===title}}</h2>
<app-user-list></app-user-list>
<app-user-list></app-user-list>
<app-user-dashboard></app-user-dashboard>
<app-student-list></app-student-list>
<app-country-list></app-country-list>
<app-login></app-login>
<button (click)=getClicked()>click me</button>
<button (click)="getName('Lokesh')"> get getName</button>
<br/><br/>
<input type="text" #box (keyup)="getData(box.value)" placeholder=" key up used"> 
<br/><br/>
<input type="text" #box1 (keydown)="getData(box1.value)" placeholder=" key down used"> 
<br/><br/>
<input type="text" #box2 (blur)="getData(box2.value)" placeholder=" blur used"> 
<br/><br/>
<input type="text" #box3 (input)="getData(box3.value)" placeholder=" input used"> 
<br/><br/>
<h2 (mouseover)="getData('over')"> mouseover </h2>
<h2 (mouseleave)="getData('leave')"> mouseleave </h2>
<br/><br/>
<input type="text" #box4  placeholder=" enter something"> 
<button (click)="getData(box4.value)"> click this</button>       // event binding
<br/><br/>
<p> box value is : {{displayval}}</p>
<input type="text"  name="user name" value="{{title}}" disabled="{{disable}}"> // interpolation 
<br/><br/>
<input type="text" name="user name" [value]="title" [disabled]="disable"> // property binding
<br/><br/>
<!--<h1 *ngIf="show"> if else condition</h1>  this is not working 
<ng-template [ngIf]="color==='red'">
    <h1> red color </h1>
</ng-template>
<ng-template [ngIf]="color==='green'">
    <h1> green color </h1>
</ng-template>
<ng-template [ngIf]="color==='blue'">
    <h1> blue color </h1>
</ng-template> 
<div [ngSwitch] = "color">
    <h1 ngSwitchCase="'red'"> red color</h1>
    <h1 ngSwitchCase="'blue'"> blue color</h1>
    <h1 ngSwitchCase="'green'"> green color</h1>
    <h1 ngSwitchCase="'yellow'"> yellow color</h1>
</div> 
<h3 *ngFor = "let item of user" > {{item}}</h3>-->

<h2 [style.color]="color"> style binding / dynamic binding</h2>
<button (click)="updateColor()"> update color</button>
<br>
<br>
@if (show) {
    <h3>toggle this text (hide or show this text)</h3>
  }
<button (click)="toggle()"> toggle </button>  
<br>
<br>
<p>Username: {{ username }}</p>
    <p>Framework: {{ favoriteFramework }}</p>
    <label for="framework">
      Favorite Framework:
      <input id="framework" type="text" [(ngModel)]="favoriteFramework" />  <!-- two way binding-->
    </label>
    <button (click)="showFramework()">Show Framework</button>
    <br>
    <br><br>
    <app-footer></app-footer>